.form-control {
    border-radius: 0;
    box-shadow: none;
}

.alert-danger {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    color: #ff0000;
}

/* .error {
    border-color: #ff0000;
} */

.btn {
  box-shadow: none;
}